<!-- Validation failure messages -->
<% if @bank_account.errors.any? %>
  <% @bank_account.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Bank Account</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_bank_account" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bank_name -->
      <div class="form-group">
        <label for="bank_name" class="control-label">
          Bank name
        </label>

        <input type="text" id="bank_name" name="bank_name" placeholder="Bank name" class="form-control" value="<%= @bank_account.bank_name %>">
      </div>

      <button class="btn btn-success">
        Create Bank Account
      </button>
      or
      <a href="/bank_accounts">Cancel</a>
    </form>
  </div>
</div>
